<div class="m-5">

  <div class="row m-3">
    <h2>2. <span class="tituloForm">Información cotizante</span></h2>
  </div>

  <div class="row m-3">
    <h5>Datos personales</h5>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Tipo de identificación'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
    <div class="col-3">
      <nz-date-picker class="w-100"></nz-date-picker>
    </div>
    <div class="col-3">
      <nz-date-picker class="w-100"></nz-date-picker>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <nz-date-picker class="w-100"></nz-date-picker>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
  </div>
  <div class="row m-3">
    <h5>Datos de salud</h5>
  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>
  <div class="row m-3">

  </div>

</div>
