
nz-content {
  background: rgb(255, 255, 255);
  color: #000000;
  margin: 30px;
  border-radius: 14px;
}

nz-layout {
  margin-bottom: 48px;
  height: 100%;
  background: #B1B0B4;
}



.header-menu {
  height: 110px;
  background: rgb(0, 0, 102
  );
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
}

.header-content{
  height: 100px;
  background: #ffffff;
  color: rgb(0, 0, 102
  );
  padding: 0px;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: rgb(0, 0, 102
  );
  color: #fff;
  line-height: 120px;
}

nz-menu {
  padding-top: 20px;
}

.tittle-menu{
  font-family: "myGaramond";
  font-size: 16px;
}

.image-menu{
  height: 56px;
  width: 36px;
  padding: 0px;
}

