<div class="container mt-5">

  <div class="row">
    <h2 class="tituloForm">1. Información del área de afiliaciones de la unidad de salud</h2>
  </div>
  <div class="row">
    <div class="col-3">
      <nz-date-picker class="w-100"></nz-date-picker>
    </div>
    <div class="col-3">
      <nz-date-picker class="w-100"></nz-date-picker>
    </div>
    <div class="col-3">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
    <div class="col-3">
      <nz-select class="w-100" nzMode="default" [nzPlaceHolder]="'Seleccionar'">
        <nz-option nzValue="opcion1" nzLabel="Opción 1"></nz-option>
        <nz-option nzValue="opcion2qw" nzLabel="Opción 2"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input nz-input placeholder="large size" nzSize="default" />
    </div>
  </div>

</div>


